[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/qc/桌面/get-pip.py]
row=6
col=0

[/home/qc/桌面/manjaro_config]
row=4
col=0

[/home/qc/桌面/firefox.desktop]
row=3
col=0

[/home/qc/桌面/download]
row=2
col=1

[/home/qc/桌面/1]
row=5
col=0

[回收站]
row=0
col=0

[/]
row=1
col=0

[/home/qc]
row=2
col=0

